<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%# Importando el archivo _nav.html.erb%>
    <%= render "shared/nav", location: 'top' %>

    <%# Importando el método login_helper que está en el archivo application_helper.rb %>
    <%= login_helper %>

    <%# Permite conectar con cualquier otro archivo html%>
    <%= yield %>

    <%# Llamando el método source_helper que está en el archivo application_helper.rb%>
    <%= source_helper("application") %>
  </body>
</html>
