<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
            <%= video_tag(
              'video.mp4',
              id: 'background', 
              autoplay: true,
              loop: true, 
              muted: true
            )%>          

          <%# Importando el archivo _nav.html.erb%>
          <%= render "shared/application_nav"%>

          <%# Permite conectar con cualquier otro archivo html%>
          <%= yield %>

          <%# Importando el archivo _application_footer.html.erb%>
          <%= render "shared/application_footer"%>

          <%# Llamando el método source_helper que está en el archivo application_helper.rb%>
          <%= source_helper("application") %>

        </div>
      </div>
    </div>
  </body>
</html>
